<!-- bottom_nav.ejs -->
<!-- Hoi Ying CHAN 301272441 -->
<!-- 9 June 2023 -->

<script src="/jquery/dist/jquery.min.js"></script>
<script src="/bootstrap/dist/js/bootstrap.min.js"></script>
</body>
</html>
