<!-- File Name: content.ejs -->
<!-- Name: Hoi Ying CHAN -->
<!-- ID: 301272441 -->
<!-- Date: 9 June 2023 -->

<!-- To create the title of the page -->
<main class=”container”>
  <div class=”jumbotron”>
      <h1 class=”display-4”><%= title %></h1>
  </div>