<!-- File Name: footer.ejs -->
<!-- Name: Hoi Ying CHAN -->
<!-- ID: 301272441 -->
<!-- Date: 9 June 2023 -->

<!-- To create the footer of the page -->
<footer>
  <nav class="navbar fixed-bottom navbar-dark bg-dark">
     
  <h6 class="display-6 navbar-text">&copy;2023 All rights reserved<br>Hoi Ying CHAN 301272441</h6>
</div>
  </nav>
</footer>