<!-- File Name: header.ejs -->
<!-- Name: Hoi Ying CHAN -->
<!-- ID: 301272441 -->
<!-- Date: 9 June 2023 -->

<!-- To create the head section of the page -->
<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css"/>
    <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/@fortawesome/fontawesome-free/css/all.min.css"/>
  </head>
  <body>