<!-- index.ejs -->
<!-- Hoi Ying CHAN 301272441 -->
<!-- 9 June 2023 -->

<%- include('partials/header.ejs') %>
<%- include('partials/top_nav.ejs') %>
    <main class=”container”>
      <div class=”jumbotron”>
          <h1 class=”display-4”>Welcome to My Personal Portfolio</h1>
      </div>

      <!-- form buttons container -->
      <table id="home">
        <tr>
          <td colspan="2">
            <p style="font-size: 15px;">Software Engineering Techinican Student</p>
            <p style="font-size: 25px;"><b>Hoi Ying CHAN</b></p>
            <p style="font-size: 20px;">Personal Profile Webpage</p>
          </td>
          <td colspan="2">
            <p style="font-size: 15px;line-height: 180%;"><span class="bold">A</span>s a software engineering technician student, my mission is to leverage 
            my skills, knowledge, and passion for technology to contribute to the development and advancement of 
            innovative software solutions. With my previous background in the finance and banking fiels, I am 
            committed to integrate the knowledge I acquire and create reliable, efficient, and user-friendly 
            online solutions that solve real-world problems and enhance the lives of individuals and businesses. 
            With a focus on quality, collaboration, and continuous learning, I strive to be a valuable asset in the 
            software engineering industry, delivering impactful solutions that drive progress and exceed client 
            expectations.</p>
          </td>
        </tr>
        <tr colspan="4" style="height: 50px;"></tr>
        <tr class="bottomTable">
          <td><h5>Learn more about me?</h5></td>
          <td><h5>Any previous projects?</h5></td>
          <td><h5>Services to provide?</h5></td>
          <td><h5>How to reach you?</h5></td>
        </tr>
        <tr class="bottomTable">
          <td style="width:200px">
            <p>If you want to know more about my background and my capabilities, click Learn More to understand more.</p><br>
          <td style="width:200px">
            <p>If you want to have a look at my previous projects, click Learn More to understand more.</p><br>
          <td style="width:200px">
            <p>If you want to know more about the kind of services I provide to my clients, click Learn More to understand more.</p><br>
          <td style="width:200px">
            <p>If you want to have a personal conversation about my services, click Learn More to send me a message.</p></td>
        </tr>

        <tr class="bottomTable">
          <td><a href="/about" class="button">Learn more</a></td>
          <td><a href="/projects" class="button">Learn more</a></td>
          <td><a href="/services" class="button">Learn more</a></td>
          <td><a href="/contact" class="button">Learn more</a></td>
        </td>
        </tr>
      </table>
      <br><br><br><br>
    </main>
<%- include('partials/footer.ejs') %>
<%- include('partials/bottom_nav.ejs') %>

      


